.logo img {
  width: 164px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI";
}
.right ul {
  display: flex;
  gap: 34px;
}

.right ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 23px;
  margin: 70px;
  font-family: sans-serif;
}

.first span {
  font-size: 40px;
}
section span img {
  width: 82px;
  margin: 0 23px;
}
.first p {
  font-size: 23px;
  width: 57vw;
  text-align: center;
}
.btn {
  background-color: #00b6d1;
  color: white;
  padding: 14px 16px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  margin:12px 0 ;
  cursor: pointer;
}
.green {
  background-color: #5cb85c;
}
.flex {
  display: flex;
}

.small {
  font-size: 14px;
  color: #666;
}

.second {
  max-width:70vw;
  margin: auto;
}
.item {
  padding: 23px;
  background-color: #f9f9f9;
  border-radius: 12px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.item-lang {
  font-weight: 700;
  text-align: center;
  padding-bottom: 36px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:12px;
  margin-top: 16px;
  
}
.download:nth-child(2) {
  font-size: 23px;

}
.download{
  display: flex;
  font-family: sans-serif;
  align-items: center;
  gap: 10px;
}
.download img {
  padding:0 12px; ;
}

@media screen and (mix-width: 1145px) {
  .grid {
    grid-template-columns: 1fr;
    
  }
  
}